{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block cssfile %}
<link rel="stylesheet" href="/static/css/artDetail.css">
{% endblock %}

{% block content %}
<div class="container main-content">
    <div class="row">
        <div class="col-md-9">
            <h2 class="text-center">{{ article.title }}</h2>
            <div class="myabstract">摘要：{{ article.abstract }}</div>
            <div class="mycontent"><p>{{ article.content|linebreaksbr }}</p></div> 
            <!--<div class="row">-->
                <!--<div class="col-md-9">-->
                <!--</div> -->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-md-9">-->
                <!--[><div class="col-md-7 col-md-offset-2"><]-->
                <!--</div> -->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-md-9">-->
                <!--[><div class="col-md-8 col-md-offset-1"><]-->
                <!--</div> -->
            <!--</div>-->
        </div>

        <div class="col-md-3">
            <h3>看过的人也看过</h3>
            <div class="list-group">
                {% for rec in rec_list %}
                <a class="list-group-item" href="{% url 'artDetail' rec.id %}" target="_blank">{{ rec.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
