<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="" content="">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="/static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.5-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block cssfile %}{% endblock %}
</head>

<body>

<!--顶部导航条-->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!--响应式布局-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home'%}">大学生创业信息推荐平台</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <!--<li><a href="{% url 'home' %}">Welcome<span class="sr-only">(current)</span></a></li>-->
                <li><a href="{% url 'info' %}">创业信息</a></li>
                <li><a href="{% url 'partner' %}">创业伙伴</a></li>
                <!--<li><a href="#">创业导师</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <!--<li class="navbar-text">欢迎您！<a href="#">{{ user.username }}</a></li>-->
                    <li class="navbar-text">欢迎您！<span>{{ user.username }}</span></li>
                    <li><a href="{% url 'logout' %}">注销</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">登录</a></li>
                <li><a href="{% url 'register' %}">注册</a></li>
                {% endif %}
            </ul>

            <!--搜索栏-->
            <!--<form class="navbar-form navbar-right" role="search">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">搜索</button>-->
            <!--</form>-->

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% block content %}
{% endblock %}

<footer id="myFooter" class="footer navbar-inverse">
    <div class="container">
        <p>Copyright &copy; 2016 Tyquan.</p>
        <p>All Rights Reserved.</p>
    </div>
</footer>            


<script language="javascript" type="text/javascript">
    window.onload=function(){
        var bodyHeight = document.body.clientHeight
        var browserHeight = document.documentElement.clientHeight
        <!--alert("bodyHeight:"+bodyHeight+"browserHeight:"+browserHeight)-->
        <!--var footer = document.getElementsByTagName("footer")-->
        var footer = document.getElementById("myFooter")
        if(bodyHeight < browserHeight){
            footer.className = "footer navbar-inverse navbar-fixed-bottom"
        }else{
            footer.className = "footer navbar-inverse"
        }
    } 
</script>

<!--<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<script src="/static/bootstrap-3.3.5-dist/js/jquery-1.12.3.min.js/"></script>
<script src="/static/bootstrap-3.3.5-dist/js/bootstrap.min.js/"></script>
{% block jsfile %}{% endblock %}
</body>
</html>
