{% extends 'base.html' %}

{% block title %}
大学生创业信息推荐平台
{% endblock %}

{% block content %}
<!--图片轮播-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!--小点点-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!--显示的内容-->
    <div class="carousel-inner" role="listbox">
        {% for post in post_list %}
            {% if forloop.first %}
            <div class="item active">
            {% else %}
            <div class="item">
            {% endif %}
                <img src="http://b.hiphotos.baidu.com/album/pic/item/caef76094b36acafe72d0e667cd98d1000e99c5f.jpg?psign=e72d0e667cd98d1001e93901213fb80e7aec54e737d1b867" alt="post.title<">
                <div class="carousel-caption">
                    <h1>{{post.title}}</h1>
                    <p>{{post.abstract}}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <!--控制左右翻页-->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">上一页</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">下一页</span>
    </a>
</div>

<!--三个圆圈儿-->
<div class="container" id="summary-container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-circle" src="http://b.hiphotos.baidu.com/album/pic/item/caef76094b36acafe72d0e667cd98d1000e99c5f.jpg?psign=e72d0e667cd98d1001e93901213fb80e7aec54e737d1b867" alt="" width="140" height="140" /> 
            <h2>创业信息</h2>
            <p>知己知彼，百战不殆！</p>
            <p><a class="btn btn-default" href="#" role="button">更多信息</a></p>
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="http://b.hiphotos.baidu.com/album/pic/item/caef76094b36acafe72d0e667cd98d1000e99c5f.jpg?psign=e72d0e667cd98d1001e93901213fb80e7aec54e737d1b867" alt="" width="140" height="140" /> 
            <h2>创业伙伴</h2>
            <p>强强联手，成就霸业！</p>
            <p><a class="btn btn-default" href="#" role="button">更多信息</a></p>
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="http://b.hiphotos.baidu.com/album/pic/item/caef76094b36acafe72d0e667cd98d1000e99c5f.jpg?psign=e72d0e667cd98d1001e93901213fb80e7aec54e737d1b867" alt="" width="140" height="140" /> 
            <h2>创业导师</h2>
            <p>导师指路，事半功倍！</p>
            <p><a class="btn btn-default" href="#" role="button">更多信息</a></p>
        </div>
    </div>
</div>
{% endblock %}
