{% extends 'base.html' %}

{% block title %}
创业信息
{% endblock %}

{% block cssfile %}
<link rel="stylesheet" href="/static/css/info.css">
{% endblock %}

{% block content %}
<div class="container main-content">
    <div class="raw">
        <div class="col-md-9">
            <ul class="media-list">
                {% for post in post_list %}
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="/static/image/articleThumbnail/saber.jpg" alt="{{art.artTitle}}">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#"><h3 class="media-heading">{{post.title}}</h3></a>
                            <p>{{post.abstract}}</p>
                        </div>
                    </li>

                    <hr />
                {% endfor %}
            </ul>

            {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
            <nav>
                <ul class="pager">
                    {% if post_list.has_previous %}
                    <li class="previous"><a href="?page={{ post_list.previous_page_number }}">上一页</a></li>
                    {% else %}
                    <li class="previous disabled"><a href="#">上一页</a></li>
                    {% endif %}

                    {% if post_list.has_next %}
                    <li class="next"><a href="?page={{ post_list.next_page_number }}">下一页</a></li>
                    {% else %}
                    <li class="next disabled"><a href="#">下一页</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>

        <div class="col-md-3">
            <h3>推荐列表</h3>
            <div class="list-group">
                {% for rec in rec_list %}
                <a class="list-group-item" href="#">{{ rec.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
