{% extends 'base.html' %}

{% block title %}
创业伙伴
{% endblock %}

{% block cssfile %}
<link rel="stylesheet" href="/static/css/partner.css">
{% endblock %}

{% block content %} 
<hgroup id="headline">
<h2>创业伙伴</h2> 
<h3>集结最广泛的创业伙伴信息</h3>
</hgroup>

<section id="wrapper">
    <div id="container">
        {% for per in user_list %}
        <div class="grid">
            <div class="imgholder">
                <a href=""><img src="image/1.jpg" /></a>
            </div>
            <strong>{{ per.username }}</strong>
            <p>所在地：xxxxxx</p>
            <p>擅长技能：xxxxxx</p>
            <p>创业方向：xxxxxx</p>
            <div class="meta">
                <button type="button" id="myButton" class="btn btn-primary btn-sm" autocomplete="off"><b>+ 关注</b></button>
            </div>
        </div>

        {% endfor %}

        <div class="clear"></div>
    </div>
</section>
{% endblock %}

{% block jsfile %}
<script src="/static/js/partner.js"></script>
{% endblock %}
